.footer {
  background-color: #000;
  padding: 30px 40px;
}

.footer__row {
  display: flex;
  flex-wrap: wrap;
}

.footer__col {
  width: 25%;
  padding: 0 15px;
}

.footer__title {
  font-size: 16px;
  color: #ffff;
  margin-bottom: 30px;
  font-weight: 500;
}

.footer__col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer__col ul li a {
  font-size: 14px;
  color: #ffff;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}

.footer__col ul li a:hover {
  color: #ffff;
  padding-left: 10px;
}

.footer__col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffff;
  transition: all 0.5s ease;
}

.footer__col .social-links a:hover {
  color: #24262b;
  background-color: #fff;
}

@media (max-width: 767px) {
  .footer {
    padding: 15px 20px;
  }

  .footer__col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer__col {
    width: 100%;
    margin-bottom: 30px;
  }
}
